* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center-both {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted gray;
  padding: 1.5em;
  margin-left: 1.5em;
}
