.component--admin__import {
	height: 20rem;
	width: 20rem;
	border: .2rem dotted black;
	position: relative;
	p.element--dropzone__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}
