.component--comment__container {
	border-top: .1rem solid grey;
}

.element--comment__list-item {
	border-bottom: .1rem solid grey;
	padding: 1rem 0;
}

.element--comment__reply-box {
	padding-left: 2rem;
	border-left: .3rem solid blue;
}
