.component--task__item-container {
	text-decoration: none;
	width: $pane-width;
	border-radius: $small-radius;
	box-shadow: .1rem .1rem .4rem $grey;
	margin-bottom: $space-small;
	padding: $space-small;
}

.component--task__detail-container {
	font-size: 2rem;
}

.component--task__list-container {
	padding: $space-small;
	width: $pane-width + 2*$space-small;
	height: calc(100vh - #{$nav-height});
	overflow-x: hidden;
	overflow-y: auto;
}

.component--task__create-container {
	width: 40rem;
	height: 40rem;
	padding: $space;
	.element--inpit__basic {
		margin-bottom: $space-small;
	}
}
