* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	font-weight: 400;
	margin-bottom: $space;
}

h2 {
	font-size: $large-font-size;
	margin-bottom: $space;
}

h3 {
	font-size: $medium-font-size;
}

p {
	font-weight: 200;
	font-size: $base-font-size;
}

#react-target {
	height: 100vh;
	width: 100vw;
}
