// Spacing
$space: 1.4rem;

$large-space: 2.8rem;
$site-max-width: 100rem;

// Font sizes
$base-font-size: 1.4rem;
$medium-font-size: 1.8rem;
$large-font-size: 2.2rem;

//Radius
$small-radius: .4rem;
$medium-radius: .8rem;
$large-radius: 1.2rem;